/* Add your CSS styles here */

.diagram-container {
  height: 80vh;
  width: 100%;
}

.custom-node {
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #e5e7eb;
  width: 140px;
  text-align: center;
}

.custom-node .label {
  font-size: 2rem;
}
